<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Login - Sushi Admin Control Panel</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	
</head>
<body>
<div class="container-fluid text-center">
	
	<div>
		<img th:src="@{/images/sushi-icon.png}" />
	</div>
	
	<form th:action="@{login}" method="post" style="max-width: 420px; margin: 0 auto">
	
		<div th:if="${param.error}">
		
			<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
		
		</div>
		
		<div th:if="${param.logout}">
		
			<p>Logout successful</p>
		
		</div>
	
		<div class="border boder-secondary rounded p-4">
			<p>Access to Sushi Control Panel</p>
			<p>
			
				<input type="email" name="email" class="form-control" placeholder="E-Mail" required />
				
			</p>
			<p>
			
				<input type="password" name="password" class="form-control" placeholder="Password" required />
			
			</p>
			<p>
			
				<input type="checkbox" name="remember-me" class="btn btn-primary" />&nbsp; Remember Me
			
			</p>			
			<p>
			
				<input type="submit" value="Login" class="btn btn-primary" />
			
			</p>
		</div>
	</form>
	
</div>
</body>
</html>